.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;   /* full screen height */
  background-color: #f5f5f5; /* halka grey bg (optional) */
  margin: 0;
}

/* box design */
.form-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  width: 300px;
}

.welcome {
  color: #1e40af;  /* blue text */
  margin-bottom: 10px;
}

.login-title {
  margin-bottom: 20px;
}

.input-box {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #1e40af;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #1d4ed8;
}
